body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
}

h1 {
  font-family: "Marmelad", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  font-size: 2.75em;
}

#container {
  position: relative;
  left: 0;
  transition: left 300ms ease;
  display: inline-block;
  width: 100%;
}
#container #content {
      position: relative;
    width: 100%;
    z-index: 1;
    float: left;
    overflow: scroll;
    
}
.flex-container-item{
  margin: 25px 25px;
}
#container #content .left-burger {
  position: relative;
  width: 50%;
  float: left;
  background: transparent;
  z-index: 100;
}
#container #content .left-burger h2 {
  position: relative;
  z-index: auto;
}
#container #content .left-burger .triangle {
  width: 0;
  height: 0;
  border-top: solid #f1f1f1;
  border-right: solid transparent;
  border-left: none;
  border-bottom: none;
  position: absolute;
}
#container #content .right-slider {
  position: relative;
  width: 50%;
  float: left;
  background: transparent;
}
#container #content .right-slider h2 {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#main-nav {
  width: 100%;
  background: #000;
  position: fixed;
  z-index: 100;
  display: inline-block;
}
#main-nav .logo {
  padding: 20px 45px;
  margin: 0;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 200ms ease;
  position: relative;
      font-size: 24px;
}
#main-nav #bun {
       position: fixed;
    cursor: pointer;
    right: 45px;
    top: 17px;
    width: 38px;
    height: 38px;
    overflow: hidden;
}
#main-nav #bun .mmm-burger {
  position: relative;
  width: 25px;
  margin: 18px 7px 0;
  height: 3px;
  background: #fff;
}
#main-nav #bun .mmm-burger:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  right: 0;
  top: -8px;
}
#main-nav #bun .mmm-burger:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  right: 0;
  top: 8px;
}
#main-nav #bun:hover:before {
  opacity: 1;
  left: 100px;
}

#sidebar {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 300px;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  left: -300px;
  top: 0;
  transition: left 300ms ease;
      border-right: 1px solid black;
}
#sidebar #mobile-nav .mobile-logo {
        color: #fff;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    height: 67px;
    line-height: 67px;
    margin: 0;
    opacity: 0;
    transition: opacity 1500ms ease;
    background: #000;
}
#sidebar #mobile-nav ul {
  margin: 0;
  padding:0;
}
#sidebar #mobile-nav ul .nav-item {
  position: relative;
  border-top: 0px solid trandsparent;
  border-bottom: 0px solid trandsparent;
  float: left;
  list-style: none;
  width: 100%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #333;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: scale(0.75, 0.75);
          transform: scale(0.75, 0.75);
  opacity: 0;
  transition: left 300ms linear 2s, opacity 100ms ease-in 600ms;
  transition: -webkit-transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms;
  transition: transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms;
  transition: transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms, -webkit-transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms;
  transition: border-top 40 ease 0ms, border-bottom 40 ease 0ms, box-shadow 150 ms ease-in;
}
#sidebar #mobile-nav ul .nav-item:hover {
  box-shadow: 0 0px 12px 3px #333;
  z-index: 100;
}
#sidebar #mobile-nav ul .nav-item:hover:after {
  color: #fff;
}
#sidebar #mobile-nav ul .nav-item h3 {
  position: relative;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    padding: 15px 25px;
    margin: 0;
    text-shadow: none;
}
#sidebar #mobile-nav ul .nav-item:first-child {
  border-top: 1px solid #333;
  margin: 0;
}
#sidebar #mobile-nav ul .nav-item:first-child:hover {
  box-shadow: 0 4px 16px 0px #333 !important;
}
#sidebar #mobile-nav ul .nav-item:last-child {
  border-bottom: 1px solid #333;
}
#sidebar #mobile-nav ul .nav-item:last-child:hover {
  box-shadow: 0 -4px 16px 0px #333 !important;
}
#sidebar #mobile-nav ul .sub-nav {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: inset 0 -7px 12px rgba(0, 0, 0, 0.15) !important;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item {
  position: relative;
  float: left;
  list-style: none;
  width: 100%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  border-top: 1px solid #4a4a4a;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item:hover {
      background: #404040;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item:hover h4 {
  color: #fff;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item h4 {
      position: relative;
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    padding: 11px 20px 10px 40px;
    margin: 0;
    text-shadow: none;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item:first-child {
  border-top: none;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item:last-child {
  border-bottom: none;
}

.nav-slide {
  left: 0 !important;
}
.nav-slide #mobile-nav .mobile-logo {
  opacity: 1 !important;
}

.body-slide {
  left: 300px !important;
}
.body-slide #main-nav .logo {
  opacity: 0 !important;
}

.item-slide {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
  opacity: 1 !important;
}

.scroll-jam {
  height: 100%;
  overflow-y: hidden;
}

.arrowed:after {
  content: '+';
  width: 25px;
  height: 25px;
  position: absolute;
  color: #333;
  right: 6px;
  font-size: 26px;
  top: 9px;
}

.selected {
    background: #ddd !important;
    color: #fff !important;
}
.selected:after {
  content: "_";
  width: 25px;
  height: 25px;
  position: absolute;
  color: #000;
  right: 4px;
  font-size: 20px;
  top: 4px;
}

/*flex-direction: row | row-reverse | column | column-reverse;
*/
 .flex-container.row {
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
}
 .flex-container.row-reverse {
     -webkit-flex-direction: row-reverse;
     -ms-flex-direction: row-reverse;
     flex-direction: row-reverse;
}
 .flex-container.column {
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
}
 .flex-container.column-reverse {
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column-reverse;
}
/*flex-wrap: nowrap | wrap | wrap-reverse;
*/
 .flex-container.nowrap {
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
}
 .flex-container.wrap {
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
 .flex-container.wrap-reverse {
     -webkit-flex-wrap: wrap-reverse;
     -ms-flex-wrap: wrap-reverse;
     flex-wrap: wrap-reverse;
}
/*align-items: flex-start | flex-end | center | baseline | stretch;
*/
 .flex-container.align-items-start {
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
}
 .flex-container.align-items-end {
     -webkit-align-items: flex-end;
     -ms-flex-align: end;
     align-items: flex-end;
}
 .flex-container.align-items-center {
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
}
 .flex-container.align-items-baseline {
     webkit-align-items: baseline;
     -ms-flex-align: baseline;
     align-items: baseline;
}
 .flex-container.align-items-stretch {
     webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
}
/*justify-content: flex-start | flex-end | center | space-between | space-around;
*/
 .flex-container.justify-start {
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
}
 .flex-container.justify-end {
     -webkit-justify-content: flex-end;
     -ms-flex-pack: end;
     justify-content: flex-end;
}
 .flex-container.justify-center {
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
}
 .flex-container.justify-space-between {
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .flex-container.justify-space-around {
     -webkit-justify-content: space-around;
     -ms-flex-pack: justify;
     justify-content: space-around;
}
/*align-content: flex-start | flex-end | center | space-between | space-around | stretch;
*/
 .flex-container.align-content-start {
     -webkit-align-content: flex-start;
     -ms-flex-line-pack: start;
     align-content: flex-start;
}
 .flex-container.align-content-end {
     -webkit-align-content: flex-end;
     -ms-flex-line-pack: end;
     align-content: flex-end;
}
 .flex-container.align-content-center {
     -webkit-align-content: center;
     -ms-flex-line-pack: center;
     align-content: center;
}
 .flex-container.align-content-space-between {
     -webkit-align-content: space-between;
     -ms-flex-line-pack: justify;
     align-content: space-between;
}
 .flex-container.align-content-space-around {
     -webkit-align-content: space-around;
     -ms-flex-line-pack: justify;
    /*distribute;
    */
     align-content: space-around;
}
 .flex-container.align-content-stretch {
     -webkit-align-content: stretch;
     -ms-flex-line-pack: stretch;
     align-content: stretch;
}
/*align-self: auto | flex-start | flex-end | center | baseline | stretch;
*/
 .item.align-self-auto {
     -webkit-align-self: auto;
     -ms-flex-item-align: auto;
     align-self: auto;
}
 .item.align-self-start {
     -webkit-align-self: flex-start;
     -ms-flex-item-align: start;
     align-self: flex-start;
}
 .item.align-self-end {
     -webkit-align-self: flex-end;
     -ms-flex-item-align: end;
     align-self: flex-end;
}
 .item.align-self-center {
     -webkit-align-self: center;
     -ms-flex-item-align: center;
     align-self: center;
}
 .item.align-self-baseline {
     -webkit-align-self: baseline;
     -ms-flex-item-align: baseline;
     align-self: baseline;
}
 .item.align-self-stretch {
     -webkit-align-self: stretch;
     -ms-flex-item-align: stretch;
     align-self: stretch;
}
 .item.flex-grow1 {
     flex-grow: 1;
}
 .item.flex-grow2 {
     flex-grow: 2;
}
 .item.flex-grow3 {
     flex-grow: 3;
}
 .item.flex-grow4 {
     flex-grow: 4;
}
 html,body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #fff;
}
 *{
     box-sizing : border-box;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
 .principal{
     width:calc(50% - 40px);
     min-width:525px;
     margin:0 20px 20px 20px;
     float:left;
}
 .radio{
     margin-bottom:20px;
}
 label{
     line-height:200%;
}
 input[type=radio] {
     color:white;
}
 input[type=radio]:checked + label {
     color: #226bc3;
}
 input[type=number]{
     width:40px;
     margin-right:.5em;
}
 h1{
     font-size:200%;
    margin:20px;
}
 h2{
     font-size:180%;
    margin:0px;
}
 h4 a{
         font-variant: small-caps;
    font-size: 20px;
    color: #226bc3;
    text-decoration: none;
    text-transform: capitalize;
}
 h4 small{
    font-variant: normal;
     font-size:80%;
     font-weight:normal;
     color:#57bcdb;
}
 table{
     width:100%;
     margin-bottom:1em;
}
 table td{
     width:50%;
     padding:3px;
}
 .principal:last-of-type h4 small{
     color:#ff8080;
}
 .flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #89cee52b;
}
 .item{
     margin:0;
     display : inherit;
     padding:10px;
     width:100px;
     height:100px;
     -webkit-align-items: center;
     -ms-flex-align:center;
     align-items: center;
}
 .item p{
    width:100%;
     text-align:center;
     color:#fff;
}
 #direction .item{
    flex-wrap:wrap;
}
/*#wrap .item{
     height:auto;
}
*/
 #wrap{
     width:400px;
}
 #align .item{
    height:auto;
     height:auto;
    flex-wrap:wrap;
}
 #align{
     height:300px;
}
 #justify{
     margin:20px 0;
     padding:20px 0;
}
 #alignContent{
    flex-wrap:wrap;
     height:600px;
}
 #alignContent .item{
     height:auto;
}
 #FCI1{
     height:300px;
}
 #FCI1 .item{
     height:auto;
}
 #FCI3 .item{
     width:25%;
}
 #FCI4 .item{
     width:50%;
}
 #FCI5 .item{
     width:20%;
}
 .nbsp{
    white-space: nowrap;
}
 @media only screen and (max-width:1100px){
    .principal{
         width:calc(100% - 40px);
    }
}
 @media only screen and (max-width:580px) {
     .item{
         width:50px;
        height:50px;
    }
     .principal{
         width:calc(100% - 40px);
         min-width:initial;
    }
     .flex-container{
        width:100%;
         min-width:initial;
    }
     #wrap{
         width:200px;
    }
}
 